---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to UDSCoin">
  <main>
    <h1><span class="uds-tag">UDS</span>Coin</h1>
    <div class="links">
      <ul>
        <li><a href="/marketing">Marketing</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="/help">Help</a></li>
      </ul>
    </div>
  </main>
  <div>
    <span>Olivier Deschenes</span>
  </div>
</Layout>

<style>
  .links {
    > ul {
      list-style: none;
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    & > h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
      color: "white";
      text-align: center;
      width: 100%;
    }

    & .uds-tag {
      color: #008849;
    }
  }
</style>
